.utexas-bg-f2f1ed {
  background-color: #f2f1ed;
}
.utexas-bg-e6ebed {
  background-color: #e6ebed;
}
.utexas-bg-c2c5c8 {
  background-color: #c2c5c8;
}
.utexas-bg-807e76 {
  background-color: #807e76;
}
.utexas-bg-5e686e {
  background-color: #5e686e;
}
.utexas-bg-487d39 {
  background-color: #487d39;
}
.utexas-bg-9d4700 {
  background-color: #9d4700;
}
.utexas-bg-138791 {
  background-color: #138791;
}
.utexas-bg-074d6a {
  background-color: #074d6a;
}
