body.install-page {
    background: #f4eee1;
}
.layout-container {
    border-radius: 0;
    border: 2px solid #bf5700;
}
h1.page-title {
    color:#bf5700;
}
.site-version {
    display: block;
}
.site-version::before {
    content: "Version: ";
}
.button.button--primary {
    background-color: #bf5700;
    background-image: none;
    border: none;
    border-radius: 10px;
    transition: background-color .1s ease-in-out;
}
.button.button--primary:hover {
    background-color: #a04400;
    background-image: none;
}
header {
    background-image: url("../logo.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: calc(35% + 8.7em);
}
@media (max-width: 48em) {
    header {
        background-image: none;
    }
    .layout-container {
        margin: 0!important;
        border: none;
        padding: 0 20px!important;
        min-height: calc(100vh - 20px);
        padding-top: 20px!important;
        border-radius: 0;
    }
}
.ut-cta-link--external::after {
    mask-image: url('data:image/svg+xml;charset=UTF-8, <svg xmlns="http://www.w3.org/2000/svg" width="11" height="16" viewBox="0 0 28 28"><path d="M22 14.5v5c0 2.484-2.016 4.5-4.5 4.5h-13c-2.484 0-4.5-2.016-4.5-4.5v-13c0-2.484 2.016-4.5 4.5-4.5h11c0.281 0 0.5 0.219 0.5 0.5v1c0 0.281-0.219 0.5-0.5 0.5h-11c-1.375 0-2.5 1.125-2.5 2.5v13c0 1.375 1.125 2.5 2.5 2.5h13c1.375 0 2.5-1.125 2.5-2.5v-5c0-0.281 0.219-0.5 0.5-0.5h1c0.281 0 0.5 0.219 0.5 0.5zM28 1v8c0 0.547-0.453 1-1 1-0.266 0-0.516-0.109-0.703-0.297l-2.75-2.75-10.187 10.187c-0.094 0.094-0.234 0.156-0.359 0.156s-0.266-0.063-0.359-0.156l-1.781-1.781c-0.094-0.094-0.156-0.234-0.156-0.359s0.063-0.266 0.156-0.359l10.187-10.187-2.75-2.75c-0.187-0.187-0.297-0.438-0.297-0.703 0-0.547 0.453-1 1-1h8c0.547 0 1 0.453 1 1z"></path></svg>');
    vertical-align: middle;
    background-color: currentColor;
    content: "";
    padding: 0 0.5em;
    mask-repeat: no-repeat;
    mask-position: 0;
    mask-size: cover;
    font-size: 11px;
    margin-left: 5px;
}
